<div class="staff-container">

  <div class="staff-sidebar">
    <div class="staff-sidebar-content">

      <div class="personal-content">
        <div class="profile-picture">
        </div>

        <div class="full-name">
          <span>John Smith</span>
          <a routerLink="/" class="edit-profile">
            Edit
          </a>
        </div>
      </div>

      <div class="daily-classes">
        Today's Classes
        <div class="daily-classes-content"></div>
      </div>
    </div>
  </div>


</div>