<div class="staff-container">

  <div class="staff-sidebar">
    <div class="staff-sidebar-content">

      <div class="personal-content">
        <div class="profile-picture">
        </div>

        <div class="full-name">
          <span>John Smith</span>
          <a routerLink="/" class="edit-profile">
            Edit
          </a>
        </div>
      </div>

      <div class="daily-classes">
        Today's Classes
        <div class="daily-classes-content"></div>
      </div>
    </div>
  </div>

  <div class="staff-content">

    <mat-tab-group>
      <mat-tab label="Wall">
        <app-staff-wall></app-staff-wall>
      </mat-tab>
      <mat-tab label="Conference">
        <app-staff-conference></app-staff-conference>
      </mat-tab>
      <mat-tab label="Training Record">
        <app-staff-training-record></app-staff-training-record>
      </mat-tab>
      <mat-tab label="Audit">
        <app-staff-audit></app-staff-audit>
      </mat-tab>
      <mat-tab label="Availability">
        <app-staff-availability></app-staff-availability>
      </mat-tab>
      <mat-tab label="Time/Off & Coverage">
        <app-staff-timeoff-coverage></app-staff-timeoff-coverage>
      </mat-tab>
      <mat-tab label="Timesheet">
        <app-staff-timesheet></app-staff-timesheet>
      </mat-tab>
    </mat-tab-group>

  </div>


</div>