<nav class="docs-navbar-header">

  <a mat-button routerLink="">
    <span class="main-header-title"> <i class="material-icons">
        school
      </i> Classroom</span>
  </a>

  <a mat-button routerLink="/dashboard"><span>Dashboard</span>
  </a>

  <a mat-button routerLink="/students"><span>Students</span>
  </a>

  <a mat-button routerLink="/calendar"><span>My Calendar</span>
  </a>

  <a mat-button routerLink="/staff"><span>Staff</span>
  </a>

  <a mat-button routerLink="/resources"><span>Resources</span>
  </a>

</nav>